<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" th:href="@{/}">CFA Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/apprentis}">Apprentis</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/entreprises}">Entreprises</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/tuteurs}">Tuteurs</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/missions}">Missions</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/memoires}">Mémoires</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/visites}">Visites</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
